{% extends "base.html" %}
{% load social_helper %}
{% block title %}
    Third Party Login Failure
{% endblock title %}
{% block content %}
    <h2>Third Party Login Failure</h2>
    <p>An error occurred while attempting to login via your {{ auth_error.provider | capfirst }} account.</p>
    {% if debug %}
        {% unwrap_exception as unwrapped %}
        <div class="row">
            <div class="col-3">
                <p class="fw-bold">Failure Reason:</p>
                <p class="fw-bold">Message:</p>
            </div>
            <div class="col-9">
                <p class="text-monospace">{{ unwrapped.reason }}</p>
                <p>{{ unwrapped.message }}</p>
            </div>
        </div>
    {% endif %}
{% endblock content %}
