{% extends "base.html" %}
{% load static %}
{% load extras %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none" href="{% url 'ui:function-list' %}">Function List</a>
            </li>
            <li class="breadcrumb-item">
                <i class="fa fa-cubes"></i>
                <a class="text-decoration-none"
                   href="{% url 'ui:package-detail' function.package.id %}">{{ function.package.render_name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ function.render_name }}</li>
        </ol>
    </nav>
    <h1>
        <i class="fa fa-cube fa-xl"></i>
        <span>{{ function.render_name }}</span>
    </h1>
    <div class="vstack gap-4 py-2">
        {% if not function.active %}
            <div class="alert alert-warning text-center" role="alert">
                <i class="fa fa-triangle-exclamation"></i>
                This function is currently inactive
            </div>
        {% endif %}
        {% if function.description %}
            <div>
                <strong class="fs-4"><i class="fa fa-newspaper fa-sm fa-fw pe-1"></i>Description:</strong>
                <p class="ps-4 py-2">{{ function.description }}</p>
            </div>
        {% elif function.summary %}
            <div>
                <strong class="fs-4"><i class="fa fa-rectangle-list fa-sm fa-fw pe-1"></i>Summary:</strong>
                <p class="ps-4 py-2">{{ function.summary }}</p>
            </div>
        {% endif %}
        {% comment %} {% if function.return_type %} {% endcomment %}
        <div>
            <strong class="fs-4"><i class="fa fa-rectangle-list fa-sm fa-fw pe-1"></i>Return Type:</strong>
            <p class="ps-4 py-2">{{ function.return_type }}</p>
        </div>
        {% comment %} {% endif %} {% endcomment %}
        {% if form is not None %}
            <div class="field ml-4">
                {% if function.active %}
                    <label class="label">Create Task:</label>
                    <div class="ml-4">
                        <form id="djangoForm"
                              method="post"
                              action="{% url 'ui:function-execute' %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="has-background-white-ter">
                                <input type="hidden" name="function_id" value="{{ function.id }}"/>
                                <div class="column has-addons">
                                    {{ form.non_field_errors }}
                                    {{ form }}
                                    {% if missing_variables %}
                                        <div class="field ml-4 missing-variables has-background-danger-light has-text-danger">
                                            <span>Tasking this function may not work as expected; the following variables are missing:</span>
                                            <ul>
                                                {% for missing in missing_variables %}
                                                    <li>
                                                        <span>{{ missing }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <input class="button mt-2 {% if missing_variables %}is-warning{% else %}is-link{% endif %}"
                                   type="submit"
                                   value="Execute"/>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="pt-3 ml-4">
            <details class="pl-1" {% if not form %}open{% endif %}>
                <summary class="has-text-weight-bold">
                    Schema:
                </summary>
                <div class="p-4">
                    <pre class="has-background-link-light">{{ function.schema | pretty_json }}</pre>
                </div>
            </details>
        </div>
    </div>
{% endblock content %}
