{% extends "base.html" %}
{% block content %}
    <div id="task_detail"
         {% if not completed %} hx-get="{% url 'ui:task-results' task.id %}?output=display_raw&poll=true" hx-trigger="every 5s"{% endif %}>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'ui:task-list' %}">Task List</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ task.function.render_name }}</li>
            </ol>
        </nav>
        <div class="hstack gap-4 py-4">
            <h1>
                <i class="fa fa-digital-tachograph fa-xl"></i>
                {{ task.function.render_name }}
            </h1>
            <div>
                <i class="fa fa-circle-info"></i>
                <span class="fs-5">{{ task.status }}</span>
            </div>
        </div>
        <div class="vstack gap-4">
            <div>
                <i class="fa fa-user fa-fw text-muted"></i>
                <span class="h fs-4">Creator:</span>
                <div class="ps-4">
                    <p>
                        {{ task.creator.first_name }} {{ task.creator.last_name }} <span class="text-muted">({{ task.creator.username }})</span>
                        at {{ task.created_at }}
                    </p>
                </div>
            </div>
            <div>
                <i class="fa fa-list fa-fw text-muted"></i>
                <span class="h2 fs-4">Parameters:</span>
                <div class="ps-4">
                    <div class="p-4 bg-opacity-10 bg-dark rounded-3">
                        <p class="font-monospace m-0">{{ task.parameters | pprint }}</p>
                    </div>
                </div>
            </div>
            <div>
                <i class="fa fa-clipboard-check fa-fw text-muted"></i>
                <span class="h2 fs-4">Result:</span>
                {% include "partials/task_result_block.html" %}
            </div>
        </div>
    </div>
{% endblock content %}
