{% load django_tables2 %}
{% load widget_tweaks %}
{% if filter %}
    <form action="" method="get" class="form row">
        {% for field in filter.form %}
            <div class="col-auto mb-3 ">
                {{ field|add_label_class:"form-label" }}
                {% if field.widget_type == "select" %}
                    {{ field|add_class:"form-select form-select"|add_error_class:"is-invalid"|add_error_attr:"aria-invalid:true" }}
                {% else %}
                    {{ field|add_class:"form-control form-control"|add_error_class:"is-invalid"|add_error_attr:"aria-invalid:true" }}
                {% endif %}
                <div>
                    <ul class="list-unstyled errorlist">
                        {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        <div class="col d-flex align-items-center">
            <button class="btn btn-primary">Filter</button>
        </div>
    </form>
{% endif %}
<div class="table-container">{% render_table table 'django_tables2/bootstrap5.html' %}</div>
